.modal-header
  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
    %span{"aria-hidden" => "true"} &times;
  %h4.modal-title.text-center Editar
.modal-body  
  %dl.dl-horizontal.modaldt
    .modal-body-content
      #show_errors
      = render partial: 'form_partial'