-if @errors.blank?
  $('.waiting-modal').modal('hide').empty();
  window.location.reload();
-else
  $('#show_errors').html("#{escape_javascript(render partial: "layouts/errors", locals: {errors: @errors})}");