.small-waiting-modal.modal.fade{"data-keyboard"=>"false", "data-backdrop"=>"static"}
  .modal-dialog.modal-sm
    .modal-content
      .modal-body
        %dl.dl-horizontal
          .modal-body-content
            %div.text-center
              %i.fa.fa-spinner.fa-spin.fa-5x.fa-fw
              %h3 Please Wait ...